<h3>Fill in the fields:</h3>
<form action="/wordcounters" method="post">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text">
  <br>
  <label for="sentence">Sentence:</label>
  <input id="sentence" name="sentence" type="text">
  <br>
  <button type="submit">Count words!</button>
</form>
