.header {
  background-color: #0a7190;
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: 10px;
}

body {
  color: #0a7190;
  /* font-family: "Arial", Arial, sans-serif;   */
}
